hr {
  border: none;
  border-top: 3px solid rgb(230, 57, 70, 0.7);
  margin: 20px auto;
  width: 70%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jersey 15", sans-serif;
  font-size: 25px;
  background-color: rgb(241, 250, 238);
  margin: 0 auto;
}

a {
  color: rgb(241, 250, 238);
  text-decoration: none;
}

/*NAVBAR*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  height: 80px;
  align-items: center;
  background-color: rgb(230, 57, 70, 0.7);
  position: sticky;
  top: 0;
  overflow: hidden;
  /* width: 100%; */
  /* z-index: 1000; */
  backdrop-filter: blur(10px);
  /* ff5454 */
}

nav .left a {
  color: #f1faee;
  font-size: 30px;
  font-weight: 500;
  transition: 0.3s ease;
}

nav .right a {
  color: #f1faee;
  font-size: 20px;
  transition: 0.3s ease;
  margin: 0 10px;
}

nav .right a span {
  margin-left: 10px;
}

/* Section-1: About */
.about {
  scroll-margin-top: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin: 50px 0;
  align-items: center;
  gap: 40px;
  margin-bottom: 100px;
}

.about .spacer {
  height: 120px;
}

.about .text {
  flex: 5;
  color: #457b9d;
}

.about .text h2 {
  font-size: 45px;
  color: #1d3557;
}

.about .text .links {
  margin-top: 25px;
  color: #1d3557;
}

.about .text .links a {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #1d3557;
  color: #1d3557;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: 0.1s;
}

.about .text .links a span {
  margin-left: 10px;
  font-size: 20px;
}

.about .text .links a:hover {
  color: rgb(230, 57, 70, 0.7);
  border: 2px solid rgb(230, 57, 70, 0.7);
}

.about .headshot {
  flex: 2;
  display: flex;
  justify-content: right;
}

.about .headshot img {
  border-radius: 50%;
  width: 350px;
}

/* Section-2: Work - Horizontal Layout */
/* .work {
  margin-left: 10px;
  padding: 10px;
}

.work .text {
  color: var(--text-color);
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: center;
}

.work .text .smaller-heading,
.work .text .list {
  flex: 1 1 45%; 
  color: #457b9d;
  background-color: #f1faee;
  border: 2px solid #1d3557;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.work .text .smaller-heading {
  font-weight: 600;
  font-size: 20px;
  color: #1d3557;
  margin-bottom: 10px;
}

.work .text .list {
  margin-top: 10px;
  list-style: disc inside;
  color: #457b9d;
} */

.work .spacer {
  height: 120px;
}

.experience-container {
  scroll-margin-top: 200px;
  display: flex;
  flex-wrap: wrap; /* Ensures responsiveness on smaller screens */
  gap: 20px; /* Adds spacing between columns */
  justify-content: space-between; /* Aligns columns horizontally */
}

/* Each column */
.experience-column {
  flex: 1 1 45%; /* Adjusts the width and ensures responsiveness */
  display: flex;
  flex-direction: column; /* Ensures content stacks vertically in each column */
  gap: 10px; /* Adds spacing between cards in each column */
}

.column-heading {
  font-size: 36px;
  font-weight: bold;
  color: rgb(230, 57, 70, 0.7);
  padding-bottom: 5px;
  margin-bottom: 15px;
  width: 100%; /* Makes the heading span the full width */
  text-align: center; /* Centers the heading text */
}

/* Common card style for all experience sections */
.experience-card {
  background-color: #f1faee;
  color: #457b9d;
  border: 2px solid #1d3557;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  margin-right: 20px;
}

.experience-card .heading {
  font-weight: 600;
  font-size: 22px;
  color: #1d3557;
  margin-bottom: 10px;
}

.experience-card .list {
  list-style: disc inside;
  color: #457b9d;
  font-size: 22px;
  font-weight: 500;
}

/* Section-3: Skills */
.skills {
  scroll-margin-top: 80px;
  padding: 0 50px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.skills .spacer {
  height: 20px;
}

.skills h2 {
  text-align: center;
  /* font-size: 35px; */
  color: rgb(230, 57, 70, 0.7);
  margin-bottom: 20px;
}

.skills .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  padding: 10px 20px;
  border: 1.5px solid #1d3557;
  border-radius: 5px;
  margin: 10px;
}

.skills .cells .cell img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

.skills .cells .cell span {
  margin-left: 5px;
  color: #457b9d;
}

/* Section-4: Projects */
.projects-section {
  text-align: center;
  margin-top: 50px;
}

.projects-section .spacer {
  height: 120px;
}

.projects-section h2 {
  margin-bottom: 20px;
  color: rgb(230, 57, 70, 0.7);
}

.projects-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-decoration: none;
  color: black;
  max-width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card h3 {
  margin: 15px 0 5px;
  font-size: 1.5rem;
  color: #1d3557;
}

.project-card .tech-stack {
  font-size: 1rem;
  color: #457b9d;
  margin-bottom: 10px;
}

.project-card .description {
  font-size: 0.9rem;
  padding: 0 15px 15px;
  line-height: 1.4;
  color: #d16e6e;
}

/* Section-5: Contact */
.contact {
  scroll-margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: #f1faee;
  color: #1d3557;
  margin: 20px auto;
  max-width: 800px;
}

.contact h2 {
  color: rgb(230, 57, 70, 0.7);
  margin-bottom: 20px;
}

.contact .group {
  display: flex;
}

.contact .group form {
  display: flex;
  flex-direction: column;
}

.contact .group form input,
.contact .group form textarea {
  font-family: "Jersey 15", sans-serif;
  border: 2px solid #457b9d;
  background-color: transparent;
  /* color: var(--link-color); */
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  resize: none;
  width: 500px;
  border-radius: 25px;
  font-size: 25px;
  display: flex;
}

.contact .group form textarea {
  height: 140px;
}

.contact .group form input::placeholder,
.contact .group form textarea::placeholder {
  font-family: "Jersey 15", sans-serif;
  background-color: transparent;
  color: rgb(230, 57, 70, 0.7);
  font-size: 20px;
}

.contact .group form input:focus,
.contact .group form textarea:focus {
  border: 3px solid #1d3557;
}

.contact .group form label {
  color: #1d3557;
  margin-bottom: 10px;
}

.contact .group form button {
  font-size: 25px;
  font-family: "Jersey 15", sans-serif;
  background-color: rgb(230, 57, 70, 0.7);
  color: #1d3557;
  border: none;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.1s;
}

.contact.group form button:hover {
  filter: brightness(0.9);
}

/* Media Queries */
@media (max-width: 850px) {
  /* Section-1: About */
  .about .text h2 {
    font-size: 35px;
  }
}

@media (max-width: 740px) {
  /* Section-1: About */
  .about {
    flex-direction: column-reverse;
  }

  .about .headshot img {
    width: 300px;
  }

  /* Section-5: Contact */
  .contact .group {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  /* navbar */
  nav {
    padding: 0 20px;
  }
  nav .right a {
    font-size: 22px;
  }

  /* Section-1: About */
  .about {
    padding: 0 20px;
  }

  .about .text h2 {
    font-size: 30px;
  }

  /* Section-3: Skills */
  .skills {
    padding: 0 20px;
  }

  .skills .cells .cell span {
    font-size: 12px;
  }

  /* Section-5: Contact */
  .contact {
    padding: 0 20px;
  }
}
